#displayer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
  text-align: center;
  justify-content: center;
}

footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  height: 3rem;
  width: 100%;

  background-color: #0e0e0e;

  vertical-align: middle;
  align-items: center;
}
footer p{
  
  height: 100%;
  width: 80%;
  
  margin: 0;
  padding: 0;
  
  line-height: 3rem;
  text-align: center;
  font-size: larger;

  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                -1px -1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                 1px -1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                -1px 1px 2px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */
}
footer span{
  color: red;
}
footer button{
  margin: 0;
  padding: 0;

  height: 100%;
  width: 20%;

  background-color: #1e1e1e;
  box-shadow: 1px 1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
             -1px -1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
             -1px 1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
              1px -1px 3px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */

  border: none;

  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                -1px -1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                 1px -1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                -1px 1px 2px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */
}


@media (max-width: 678px) {
  #displayer{
  }
  #frame{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
  }
  iframe{
    padding-left: auto;
    padding-right: auto;
    
    margin-top: 2rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
             -1px -1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
             -1px 1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
              1px -1px 3px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */
  }
  #lyrics{
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
  }
  #letra{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .nextSong{
  display:flex;
  width: 100%;
  flex-direction: row; /* Apila los textos verticalmente */
  text-align: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #0e0e0e;
  box-shadow: 1px 1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
             -1px -1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
             -1px 1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
              1px -1px 3px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */
  }
  .nextSong .caratula{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
  }
  .nextSong .songInfo{
    height: 50px;
  }
  .nextSong .songInfo div{
    margin: 0;
    padding: 0;
  }
  .nextSong .songInfo p{
    margin: 0;
    padding: 0;
  }
  .nextSong .songName{
    font-size: 1rem;
    font-weight: bolder;
  }

  #siguienteCancion{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4rem;

    background-color: #1e1e1e;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
             -1px -1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
             -1px 1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
              1px -1px 3px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */
  }
  #siguienteCancion #text{
    color: darkgray;
    width: 100%;
    margin:0;
    padding:0;
    padding-top: 12px;
    padding-bottom: 12px;

    font-size: larger;
    text-align: center;

    text-shadow: 1px 1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                -1px -1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                 1px -1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                -1px 1px 2px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */
  }
}
