body::before {
    content: "";
    position:fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('../img/fondo.jpg');
    background-size:cover;
    background-repeat: repeat-y;
    opacity: 0.7;
    z-index: -1;
}
body {
  display:flex;
  height: 100vh;
  max-width: 100dvw;
  margin: 0;
  padding: 0;
  background-size: cover;
}
#displayer{
  height: 100dvh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
  text-align: center;
  justify-content: center;
}
.song{
  display:flex;
  width: 100dvw;
  flex-direction: row; /* Apila los textos verticalmente */
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  background-color: #1e1e1e;
}

.songInfo{
  display:flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 0;
  padding-top: 0;

  color: white;
  text-align: left;
  font-family: "Libre Baskerville", serif;
  font-weight: 2rem;
  font-style: normal;
}
.songInfo div{
  height: 64px;
  align-content: center;
}



@media (max-width: 678px) {
  body::before {
    content: "";
    position:fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('../img/fondo.jpg');
    background-size:contain;
    background-repeat: repeat-y;
    opacity: 0.7;
    z-index: -1;
  }
  body{
    max-height: 100dvh;
  }
  

  .caratula{
    display:inline-flexbox;
    width: 128px;
    height: 128px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-radius: 10px;
    border-color: black;
    box-shadow: 6px 6px 16px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                -6px -6px 16px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */
  }

  .songName{
    font-size:140%;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }

  #lyrics{
    margin:auto;
    padding:auto;
  }
  #letra{
    white-space: nowrap;
    font-size: auto;
    text-align: left;
    font-weight: 700;
    font-family: "Libre Baskerville", serif;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 3px rgb(255, 255, 255), /* Offset-X | Offset-Y | Blur | Color */
                -1px -1px 3px rgb(255, 255, 255), /* Offset-X | Offset-Y | Blur | Color */
                 1px -1px 3px rgb(255, 255, 255), /* Offset-X | Offset-Y | Blur | Color */
                -1px 1px 3px rgb(255, 255, 255); /* Offset-X | Offset-Y | Blur | Color */
  }
}
