.song{
  display:flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  
  border-radius: 1rem;
  background-color: #1e1e1e;
  box-shadow: 1px 1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
             -1px -1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
             -1px 1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
              1px -1px 3px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */

  margin-bottom: 2rem;

  width: 100%;
}

.caratula{
  flex: 0 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;

  border-radius: 1rem;
  border-color: black;
  box-shadow: 6px 6px 16px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
             -6px -6px 16px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */
}

.songInfo{
  display:flex;
  flex-direction: column;
  margin-top: 0;
  padding-top: 0;
  min-width: 0;

  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                -1px -1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                 1px -1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                -1px 1px 2px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */
  text-align: left;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}
.songInfo div{
  min-height: 30px;
  align-content: center;
}

.songName{
  font-size: clamp(1rem, 4.5vw, 1.4rem);
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;

  font-weight: bolder;
  overflow-wrap: anywhere;
}

.autor{
  overflow-wrap: anywhere;
}

#lyrics{
  margin:auto;
  padding:auto;
}


@media (min-width: 678px){
  body{
    padding-top: 2rem;
  }

  .song{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


@media (max-width: 678px) {
  .song{
  padding-left: 1rem;
  padding-right: 1rem;
}

  .caratula{
    width: clamp(74px, 28vw, 128px);
    height: clamp(74px, 28vw, 128px);
    object-fit: cover;
  }

  .songName{
    font-size: clamp(1rem, 5vw, 1.4rem);
  }
}
