#displayer{
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
  text-align: center;
  justify-content: center;
}
.nextSong{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

footer{
  border: solid black;
}

@media (max-width: 678px) {
  footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  margin-top: 4rem;

  height: 3rem;
  width: 100%;

  background-color: #0e0e0e;

  vertical-align: middle;
  align-items: center;
}
footer p{
  
  height: 100%;
  width: 80%;
  
  margin: auto;
  padding: auto;
  
  line-height: 3rem;
  text-align: center;
  font-size: larger;

  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                -1px -1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                 1px -1px 2px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                -1px 1px 2px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */
}
footer span{
  color: red;
}
}
