body::before {
    content: "";
    position:fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('../img/fondo.jpg');
    background-size:cover;
    background-repeat: repeat-y;
    opacity: 0.7;
    z-index: -1;
}
body {
  display:flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  margin-bottom: 2rem;
}
#displayer{
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
  text-align: center;
  justify-content: center;
}
.song{
  display:flex;
  flex-direction: row; /* Apila los textos verticalmente */
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  /*padding: 1rem;*/
  padding: 1rem;
  border-radius: 1rem;
  background-color: #1e1e1e;

  box-shadow: 1px 1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
             -1px -1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
             -1px 1px 3px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
              1px -1px 3px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */
}
.song:hover{
  transform:scale(1.1);
}

.songInfo{
  display:flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 0;
  padding-top: 0;

  color: white;
  text-align: left;
  font-family: "Libre Baskerville", serif;
  font-weight: 2rem;
  font-style: normal;
}
.songInfo div{
  height: 64px;
  align-content: center;
}


@media (max-width: 678px) {
  body::before {
    content: "";
    position:fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('../img/fondo.jpg');
    background-size:contain;
    background-repeat: repeat-y;
    opacity: 0.3;
    z-index: -1;
  }
  body{
    background-color: black;
    min-height: 100dvh;
  }
  

  .caratula{
    display:inline-flexbox;
    width: 128px;
    height: 128px;


    border-radius: 10px;
    border-color: black;
    box-shadow: 6px 6px 16px rgb(0, 0, 0), /* Offset-X | Offset-Y | Blur | Color */
                -6px -6px 16px rgb(0, 0, 0); /* Offset-X | Offset-Y | Blur | Color */
  }

  .songName{
    font-size:140%;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }
}
